#myItem2{
    display: none;
}
*{
    cursor: url(../NimaTjk/Assets/Img/circle-and-cursor-arrow.png) , auto;
    font-family:'Vazir-FD';
}
@font-face {
    font-family:'Vazir-FD';
    src: url('../NimaTjk/Assets/Fonts/vazir/woff/Vazir-FD.woff') format('woff');
}
/* .windosBodyPic , .windosBodyPic2 {
    display: none;
} */
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
.miniProje:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    color: white;
    background-color: goldenrod;
    border-bottom: 1px dashed white !important;
}
.proje:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    color: white;
    background-color: goldenrod;
    border-bottom: 1px dashed white !important;
}
#dipslaWindosIntrodus{
    display: none;
}
#windosProjeDis{
    display: none;
}
.BodyPic{
    background-image: url(../NimaTjk/Assets/Img/sigmund-65u8D-iNh0M-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 690px;
}
.changebackgroundimage{
    background-image: none;
    background: white;
}

.changecolor{
    color: black !important;
}
.color{
    color: white;
}

/*  */
.orgProjectDivPhone{
    background-color: white;
    color: black;
    margin-top: 20px;
    text-align: center;
    width: 105%;
    border-radius: 10px;
    height: 60%;
    /* padding: 15px; */
    box-shadow: 0px 0px 12px 0px #ebebeb;
    /* position: relative; */
    /* top: 5%; */
}
.circPhone1{
    position: relative;
    background-color: goldenrod;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px rgb(233 233 233);
    top: 5%;
    right: 3%;
}
.circPhone2{
    position: relative;
    background-color: goldenrod;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    bottom: 11%;
    right: 88%;
    box-shadow: 0px 0px 0px 3px rgb(233 233 233);
}
#privPhoneProj{
    font-size: 18px;
    color: black;
    position: relative;
    bottom: 20%;
    font-family: 'Font Awesome 5 Pro';
}

.orgProjectDivPhone1{
    background-color: white;
    color: black;
    margin-top: 20px;
    text-align: center;
    width: 105%;
    border-radius: 10px;
    height: 60%;
    /* padding: 15px; */
    box-shadow: 0px 0px 12px 0px #ebebeb;
    /* position: relative; */
    /* top: 5%; */
}
.circPhone3{
    position: relative;
    background-color: goldenrod;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px rgb(233 233 233);
    top: 5%;
    right: 3%;
}
.circPhone4{
    position: relative;
    background-color: goldenrod;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    bottom: 11%;
    right: 88%;
    box-shadow: 0px 0px 0px 3px rgb(233 233 233);
}
#privPhoneProj1{
    font-size: 18px;
    color: black;
    position: relative;
    bottom: 20%;
    font-family: 'Font Awesome 5 Pro';
}
/*  */
/* .addTopClassChange{
    border-radius: 50% !important;
    position: relative !important;
    bottom: 28px !important;
    background-color: rgba(0, 0, 0, 0.13) !important;
    margin: 0 10px !important;
    border: none !important;
    width: 50px !important;
    text-align: center !important;
} */
.addTopClassChange::before{
    content: "" !important;
    position: absolute !important;
    top: -1px !important;
    left: 33px !important;
    width: 30px !important;
    height: 27px !important;
    border-top-right-radius: 100% !important;
    background: transparent !important;
    z-index: -1 !important;
    background-color: rgb(207, 158, 33) !important;
    /* transition: 1s !important; */
}
.addTopClassChange::after{
    content: "" !important;
    position: absolute !important;
    top: -1px !important;
    width: 30px !important;
    height: 27px !important;
    border-top-left-radius: 100% !important;
    background: transparent !important;
    z-index: -1 !important;
    background-color: rgb(207, 158, 33) !important;
    right: 3.8ch !important;
    /* transition: 1s !important; */
}
.addTopClass{
    border-radius: 50%;
    position: relative;
    bottom: 28px;
    /* background-color: rgba(233, 233, 233, 0.045); */
    margin: 0 10px;
    border: none;
    /* width: 50px; */
    text-align: center;
}
.addTopClass::before{
    content: "";
    position: absolute;
    top: -1px;
    left: 37px;
    width: 34px;
    height: 29px;
    border-top-right-radius: 100%;
    background: transparent;
    z-index: -1;
    background-color: rgba(233, 233, 233, 0.123);
    transition: 1s;
}
.addTopClass::after{
    content: "";
    position: absolute;
    top: -1px;
    width: 36px;
    height: 29px;
    border-top-left-radius: 100%;
    background: transparent;
    z-index: -1;
    background-color: rgba(233, 233, 233, 0.123);
    right: 5.5vh;
    transition: 1s
}
.fa-home{
    font-size:  21px !important;
}
.nameInput{
    border: 1px dashed goldenrod;
    border-radius: 5px;
    height: 40px;
    color: goldenrod;
    position: relative;
    width: 250px;
}
.nameInput::placeholder{
    font-size: 12px;
    text-align: center;
    font-weight: bolder;
    color: goldenrod;
}
.nameInput:focus{
    outline: none;
}
.orgInput{
    text-align: center;
}
.btnIcon{
    background: none;
    border: none;
    position: absolute;
    right: 255px;
    top: 106px;
    border-right: 1px solid goldenrod;
}
.fa-check{
    color: goldenrod;
}
#wrongInput{
    display: block;
    font-size: 10px;
    color: red;
    text-align: center;
    font-weight: bolder;
}
/* End Navbar */
/* Type */
.typeTest{
    width: 10ch;
    animation: typing 1.8s steps(11 , end), cursor-blink 0.7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    height: 100px;
    margin: 0 auto;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 80px;
    height: 40px;
}
.typeTest2{
    width: 22ch;
    animation: typing 4s steps(23 , end), cursor-blink 0.7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    height: 100px;
    margin: 0 auto;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-size: 16px;
    position: relative;
    top: 20px;
    border-left: 2px solid;
    height: 30px;
}
@keyframes typing{
    from {
        width: 0;
    }
}
@keyframes cursor-blink{
    50%{
        border-color: transparent;
    }
}
/* End Type */

.imgHomeFirst{
    width: 100%;
    height: 100%;
}

.mailBox{
    position: absolute;
    top: 80%;
    right: 10%;
    /* color: goldenrod; */
    animation: upDown 3s infinite;
    font-size: 25px;
}
.fa-telegram , .fa-whatsapp{
    display: none;
}
.fa-telegram{
    position: relative;
    bottom: 35px;
    color: deepskyblue;
    font-size: 27px;
    left: 32%;
}
.fa-whatsapp{
    position: relative;
    left: 3%;
    top: 31px;
    font-size: 26px;
    color: greenyellow;
}
.fa-envelope{
    position: relative;
    color: white;
    display: none;
    left: 35px;
    bottom: 35px;
}
.btnMailBox{
    background: none;
    border: none;
    color: white;
}
.closeIcon{
    border: none;
    background: none;
}
.fa-times{
    display: none;
    color: white;
    position: relative;
    left: 108px;
}
#myItem1{
    margin: 0 auto;
    position: relative;
    top: 42%;
    /* left: 50%; */
    /* right: 50%; */
    /* bottom: 50%; */
    /* margin-top: 80%; */
}
.ldBar-label{
    position: absolute;
    top: 30px;
    color: white;
    right: 30px;
}
#firstDisplayMode , #firstDisplayMode1 , #firstDisplayMode2{
    display: none;
}
@keyframes upDown{
    50%{
        top: 78%;
    }
    100%{
        top: 80%;
    }
}
.MyPhoto{
    box-shadow: 0px 0px 12px 0px #ebebeb;
    border-radius: 10px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}
.MyPhoto img{
    width: 100px;
    height: 80px;
}
#myPic , #titleDisplayMode{
    display: none;
}
.parallax{
    display: none;
    background-image: url(../NimaTjk/Assets/Img/altumcode-7iXRCPp9Akc-unsplash\(1\).jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 185px;
}

.titleIntrodus{
    position: relative;
    color: goldenrod;
    text-align: center;
    margin: 16px 31px 20px 0;
    width: 7ch;
    animation: typing 2s steps(9 , end), cursor-blink 0.7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    height: 30px;
    font-weight: bolder;
}
.afterBeforOne::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 10px;
    background-color: goldenrod;
    top: 217px;
    left: 92%;
    display: inline-block;
    border-radius: 30px;
}
.afterBeforOne::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 39px;
    background-color: goldenrod;
    top: 225px;
    left: 266px;
    display: inline-block;
    border-radius: 30px;
}
.afterBeforTwo::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 60px;
    background-color: goldenrod;
    top: 233px;
    left: 245px;
    display: inline-block;
    border-radius: 30px;
}
.introdiusParagraf{
    font-size: 14px;
    text-align: right;
}
.introdiusParagraf span{
    font-weight: bold;
}



/*//////////////////////////////////////////////*/

:root {
    --bg-body: #dff9fb;
    --bg-nav: #220455;
    --color-nav: #644c89;
    --color-nav-active: #fff;
}

#filter-svg {
    display: none;
}

.nav {
    direction: ltr;
    width: 100%;
    position: relative;
    list-style-type: none;
    background-color: rgb(233, 233, 233);
    height: 45px;
    border-top-left-radius: 50px;
    filter: url(#goo);
    border-top-right-radius: 50px;
}
.navA{
    text-decoration: none;
    color: darkgoldenrod;
    width: 106px;
    height: 100%;
    display: inline-grid;
    place-items: center;
    font-size: 20px;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
.titleColors{
    color: white !important;
}
.title {
    color: darkgoldenrod;
    display: none;
}

.nav li a.nav-item-active .title {
    display: block;
    font-size: 16px;
}
.jjjjjjj{
    color: rgb(218, 170, 49);
}
.nav .nav-indicator {
    width: 70px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(233, 233, 233);
    position: absolute;
    top: -20px;
    left: calc(54% - 14%);
    z-index: -1;
    transition: left 0.5s cubic-bezier(0.4, 0, 1, 1);
}

@keyframes zoom {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.2;
    }
    100% {
        width: 1500px;
        height: 1500px;
        opacity: 0;
    }
}

.proje , .miniProje{
    background: none;
    border-bottom: 1px dashed darkgoldenrod !important;
    border: none;
    margin-top: 20px;
    /* border: none; */
    box-shadow: inset 2px 1px 0px 0px rgb(247 244 244), inset -3px 0px 0px 0px rgb(247 244 244);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* border-radius: 10px; */
    height: 45px;
    width: 150px;
    color: darkgoldenrod;
}
.orgProjectDiv{
    text-align: center;
}
.projectParagraf{
    font-size: 12px;
    text-align: justify;
    font-weight: bolder;
    line-height: 35px;
    padding: 35px;
}
.windowsDisplayNone{
    display: none;
}

.projeImg{
    width: 113%;
    height: 100%;
}
.orginalDiv{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 0px 30px 0px 0px
}
.projeOneDiv{
    box-shadow: 0px 0px 12px 0px #ebebeb;
    border-radius: 0px 35px 5px 0px;
}
.withPOne{
    font-size: 14px;
    color: darkgoldenrod;
    font-weight: bolder;
}
.withPOne span{
    font-size: 10px;
    color: black;
    font-weight: bolder;
}
.pOne{
    color: darkgoldenrod;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 16px;
}
#projeoneDisplay{
    display: none;
}
#miniProjes{
    display: none;
}
.orgProjectDiv{
    display: none;
}
.circleSpangold{
    background-color: rgb(233, 218, 54);
    width: 12px;
    height: 12px;
    border-radius: 100%;
    right: 182.5%;
    position: relative;
    bottom: 65.5%;
    box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
}
.circleSpangold3{
    background-color: rgb(233, 218, 54);
    width: 12px;
    height: 12px;
    border-radius: 100%;
    right: 182.5%;
    position: relative;
    bottom: 88.5%;
    box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
}
.circleSpangold1{
    background-color: rgb(233, 218, 54);
    width: 12px;
    height: 12px;
    border-radius: 100%;
    right: 183%;
    position: relative;
    bottom: 48.5%;
    box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
}
.circleSpangold2{
    background-color: rgb(233, 218, 54);
    width: 12px;
    height: 12px;
    border-radius: 100%;
    right: 182.5%;
    position: relative;
    bottom: 86.5%;
    box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
}
/* Media Query */
@media screen and (max-width : 320px){
    #windowsDisplayNone{
        display: none !important;
    }
}
@media screen and (min-width : 375px) and (max-width : 424px) {
    .circleSpangold{
        background-color: rgb(233, 218, 54);
        width: 12px;
        height: 12px;
        border-radius: 100%;
        right: 182.5%;
        position: relative;
        bottom: 46.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
    .circleSpangold1{
        background-color: rgb(233, 218, 54);
        width: 12px;
        height: 12px;
        border-radius: 100%;
        right: 183%;
        position: relative;
        bottom: 41.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
    .circleSpangold2{
        background-color: rgb(233, 218, 54);
        width: 12px;
        height: 12px;
        border-radius: 100%;
        right: 182.5%;
        position: relative;
        bottom: 71.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
    #windowsDisplayNone{
        display: none !important;
    }
    #dipslaWindosIntrodus{
        display: none;
    }
    #windosProjeDis{
        display: none;
    }
    .navA{
        text-decoration: none;
        color: darkgoldenrod;
        width: 125px;
        height: 100%;
        display: inline-grid;
        place-items: center;
        font-size: 20px;
        z-index: 1;
        position: relative;
        overflow: hidden;
    }
    .nav .nav-indicator{
        width: 70px;
        height: 80px;
        border-radius: 50%;
        background-color: rgb(233, 233, 233);
        position: absolute;
        top: -20px;
        left: calc(56% - 15%);
        z-index: -1;
        transition: left 0.5s cubic-bezier(0.4, 0, 1, 1);
    }
    .afterBeforOne::before{
        content: "";
        position: absolute;
        height: 3px;
        width: 39px;
        background-color: goldenrod;
        top: 225px;
        left: 316px;
        display: inline-block;
        border-radius: 30px;
    }
    .afterBeforTwo::after{
        content: "";
        position: absolute;
        height: 3px;
        width: 60px;
        background-color: goldenrod;
        top: 35.03%;
        left: 78.5%;
        display: inline-block;
        border-radius: 30px;
    }
    .windowsDisplayNone{
        display: none;
    }
    
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .circleSpangold{
        background-color: rgb(233, 218, 54);
        width: 15px;
        height: 15px;
        border-radius: 100%;
        right: 179%;
        position: relative;
        bottom: 70.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
    .circleSpangold1{
        background-color: rgb(233, 218, 54);
        width: 15px;
        height: 15px;
        border-radius: 100%;
        right: 178%;
        position: relative;
        bottom: 62.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
    .circleSpangold2{
        background-color: rgb(233, 218, 54);
        width: 15px;
        height: 15px;
        border-radius: 100%;
        right: 178.5%;
        position: relative;
        bottom: 89.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
    .circleSpangold3{
        background-color: rgb(233, 218, 54);
        width: 12px;
        height: 12px;
        border-radius: 100%;
        right: 179.5%;
        position: relative;
        bottom: 89.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
    #windowsDisplayNone{
        display: none !important;
    }
    #dipslaWindosIntrodus{
        display: none;
    }
    #windosProjeDis{
        display: none;
    }
    .windowsDisplayNone{
        display: none;
    }
    .navA{
        text-decoration: none;
        color: darkgoldenrod;
        width: 140px;
        height: 100%;
        display: inline-grid;
        place-items: center;
        font-size: 21px;
        z-index: 1;
        position: relative;
        overflow: hidden;
    }
    .nav .nav-indicator{
        width: 65px;
        height: 70px;
        border-radius: 50%;
        background-color: rgb(233, 233, 233);
        position: absolute;
        top: -20px;
        left: calc(395px - 45px);
        z-index: -1;
        transition: left 0.5s cubic-bezier(0.4, 0, 1, 1);
    }
    .afterBeforOne::after{
        content: "";
        position: absolute;
        height: 3px;
        width: 15px;
        background-color: goldenrod;
        top: 37.7%;
        left: 92.45%;
        display: inline-block;
        border-radius: 30px;
    }
    .afterBeforOne::before{
        content: "";
        position: absolute;
        height: 3px;
        width: 43px;
        background-color: goldenrod;
        top: 344px;
        left: 681.5px;
        display: inline-block;
        border-radius: 30px;
    }
    .afterBeforTwo::after{
        content: "";
        position: absolute;
        height: 3px;
        width: 65px;
        background-color: goldenrod;
        top: 352px;
        left: 660px;
        display: inline-block;
        border-radius: 30px;
    }
    .typeTest{
        width: 10ch;
        animation: typing 1.8s steps(11 , end), cursor-blink 0.7s step-end infinite alternate;
        white-space: nowrap;
        /* overflow: hidden; */
        text-align: center;
        height: 100px;
        margin: 0 auto;
        font-weight: bolder;
        color: rgb(255, 255, 255);
        font-size: 32px;
        margin-top: 90px;
        height: 55px;
    }
    .typeTest2{
        width: 22ch;
        animation: typing 4s steps(23 , end), cursor-blink 0.7s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        height: 100px;
        margin: 0 auto;
        font-weight: bolder;
        color: rgb(255, 255, 255);
        font-size: 20px;
        position: relative;
        top: 20px;
        border-left: 2px solid;
        height: 30px;
    }
    .btnMailBox{
        background: none;
        border: none;
        color: white;
        font-size: 29px;
    }
    .nav{
        direction: ltr;
        width: 100%;
        position: relative;
        list-style-type: none;
        background-color: rgb(233, 233, 233);
        height: 49px;
        border-top-left-radius: 50px;
        filter: url(#goo);
        border-top-right-radius: 50px;
    }
    .titleIntrodus{
        position: relative;
        color: goldenrod;
        text-align: center;
        margin: 16px 60px 20px 0;
        width: 7ch;
        animation: typing 2s steps(9 , end), cursor-blink 0.7s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        height: 30px;
        font-weight: bolder;
    }
    .parallax{
        display: none;
        background-image: url(../NimaTjk/Assets/Img/altumcode-7iXRCPp9Akc-unsplash\(1\).jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 190px;
        width: 100%;
    }
    .proje , .miniProje{
        background: none;
        border-bottom: 1px dashed darkgoldenrod !important;
        border: none;
        margin-top: 20px;
        /* border: none; */
        box-shadow: inset 2px 1px 0px 0px rgb(247 244 244), inset -3px 0px 0px 0px rgb(247 244 244);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        /* border-radius: 10px; */
        height: 55px;
        width: 180px;
        color: darkgoldenrod;
    }
     
    .pOne{
        color: darkgoldenrod;
        margin-top: 10px;
        font-weight: bolder;
        font-size: 20px !important;
    }
    .withPOne{
        font-size: 15px;
        color: darkgoldenrod;
        font-weight: bolder;
    }
    .withPOne span{
        font-size: 12px;
        color: black;
        font-weight: bolder;
    }
    .projeImg{
        width: 70%;
        height: 100%;
    }
    .circleSpangold{
        background-color: rgb(233, 218, 54);
        width: 15px;
        height: 15px;
        border-radius: 100%;
        right: 175%;
        position: relative;
        bottom: 45.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
    .circleSpangold1{
        background-color: rgb(233, 218, 54);
        width: 15px;
        height: 15px;
        border-radius: 100%;
        right: 175%;
        position: relative;
        bottom: 39.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
    .circleSpangold2{
        background-color: rgb(233, 218, 54);
        width: 15px;
        height: 15px;
        border-radius: 100%;
        right: 175.5%;
        position: relative;
        bottom: 72.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
    .introdiusParagraf{
        font-size: 15px;
        text-align: right;
    }
    .orginalDiv{
        width: 70%;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 0px 30px 0px 0px;
    }
    .projeImg{
        width: 55%;
        height: 100%;
    }
    .circleSpangold{
        background-color: rgb(233, 218, 54);
        width: 12px;
        height: 12px;
        border-radius: 100%;
        right: 176.5%;
        position: relative;
        bottom: 50.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
    .circleSpangold1{
        background-color: rgb(233, 218, 54);
        width: 12px;
        height: 12px;
        border-radius: 100%;
        right: 176%;
        position: relative;
        bottom: 44.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
    .circleSpangold2{
        background-color: rgb(233, 218, 54);
        width: 12px;
        height: 12px;
        border-radius: 100%;
        right: 176.5%;
        position: relative;
        bottom: 78.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
    .circleSpangold3{
        background-color: rgb(233, 218, 54);
        width: 12px;
        height: 12px;
        border-radius: 100%;
        right: 176.5%;
        position: relative;
        bottom: 88.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
    
    .navA{
        text-decoration: none;
        color: darkgoldenrod;
        width: 256px;
        height: 100%;
        display: inline-grid;
        place-items: center;
        font-size: 20px;
        z-index: 1;
        position: relative;
        overflow: hidden;
    } 
    #windowsDisplayNone{
        display: none !important;
    }
    #dipslaWindosIntrodus{
        display: none;
    }
    #windosProjeDis{
        display: none;
    }
    .windowsDisplayNone{
        display: block;
    }
    body {
        position: relative;
      }
      .nav-pills {
        top: 6%;
        position: fixed;
        right: 4%;
      }
      /* div.col-sm-9 div {
        height: 250px;
        font-size: 28px;
      } */
      #section1 {color: #fff; background-color: #1E88E5;}
      #section2 {color: #fff; background-color: #673ab7;}
      #section3 {color: #fff; background-color: #ff9800;}
      #section41 {color: #fff; background-color: #00bcd4;}
      #section42 {color: #fff; background-color: #009688;}
      
      .myImgDiv{
          text-align: center;
      }
      .nimatjk{
          margin: 40px 0 20px 0;
          color: goldenrod;
      }
      .introdiusParagrafW span{
          color: goldenrod;
          font-weight: bolder;
          font-size: 18px;
      }
      .introdiusParagrafW{
          font-size: 15px;
      }
      .myIntrodus{
        box-shadow: 0px 0px 12px 0px #ebebeb;
        text-align: center;
        height: 320px;
        border-radius: 120px 0px 120px 0px;
      }
      .orgCart{
        box-shadow: 0px 0px 12px 0px #ebebeb;
        width: 20%;
        height: 60%;
        border-radius: 8px;
      }
      .myImgw{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        /* border: 1px solid black; */
        box-shadow: 0px 0px 12px 0px #ebebeb;
        margin-top: 10px;
      }
      .typeDiv{
          text-align: center;
      }
      .typeTestW{
        width: 9ch;
        animation: typing 1.8s steps(10 , end), cursor-blink 0.7s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        height: 100px;
        margin: 0 auto;
        font-weight: bolder;
        color: black;
        font-size: 25px;
        margin-top: 30px;
        height: 40px;
    }
    .typeTestW2{
        width: 18ch;
        animation:typing 4s steps(18 , end), cursor-blink 0.7s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        height: 100px;
        margin: 0 auto;
        font-weight: bolder;
        color: goldenrod;
        font-size: 16px;
        position: relative;
        top: 20px;
        border-left: 2px solid;
        height: 30px;
    }
    @keyframes typing{
        from {
            width: 0;
        }
    }
    @keyframes cursor-blink{
        50%{
            border-color: transparent;
        }
    }
    .navA{
        text-decoration: none;
        color: darkgoldenrod;
        width: 341px;
        height: 100%;
        display: inline-grid;
        place-items: center;
        font-size: 20px;
        z-index: 1;
        position: relative;
        overflow: hidden;
    }
    .projeImg{
        width: 33%;
        height: 100%;
    }
    .orginalDiv{
        width: 70%;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 0px 30px 0px 0px;
    }
    .circleSpangold{
        background-color: rgb(233, 218, 54);
        width: 12px;
        height: 12px;
        border-radius: 100%;
        right: 175%;
        position: relative;
        bottom: 61.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
    .circleSpangold1{
        background-color: rgb(233, 218, 54);
        width: 12px;
        height: 12px;
        border-radius: 100%;
        right: 175%;
        position: relative;
        bottom: 54.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
    .circleSpangold2{
        background-color: rgb(233, 218, 54);
        width: 12px;
        height: 12px;
        border-radius: 100%;
        right: 175.5%;
        position: relative;
        bottom: 87.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
    .circleSpangold3{
        background-color: rgb(233, 218, 54);
        width: 12px;
        height: 12px;
        border-radius: 100%;
        right: 175.5%;
        position: relative;
        bottom: 88.5%;
        box-shadow: rgb(247 247 247) 0px 0px 0px 4px;
    }
    .parallax{
        display: none;
        background-image: url(../NimaTjk/Assets/Img/altumcode-7iXRCPp9Akc-unsplash\(1\).jpg);
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 235px;
    }
    
}

@media screen and (min-width : 1025px) {
    .projeImgNote{
        width: 100%;
        height: 120px;
    }
    .phoneDisplayNone{
        display: none !important;
    }
    
    .BodyPic{
        background-image: none;
    }
    body {
        
        position: relative;
      }
      .projetitleWindos{
        font-size: 26px;
        font-weight: bolder;
        color: indigo;
        margin: 0 0 40px 0;
      }
      /* .nav-pills {
        position: fixed;
        top: 10%;
      } */
      /* div.col-sm-9 div {
        height: 250px;
        font-size: 28px;
      } */
      #section1 {color: #fff; background-color: #1E88E5;}
      #section2 {color: #fff; background-color: #673ab7;}
      #section3 {color: #fff; background-color: #ff9800;}
      #section41 {color: #fff; background-color: #00bcd4;}
      #section42 {color: #fff; background-color: #009688;}
      
      .myImgDiv{
          text-align: center;
      }
      .nimatjk{
        margin: 40px 0 20px 0;
        color: blue;
        font-weight: bolder;
    }
    .introdiusParagrafW span{
        color: royalblue;
        /* font-weight: bolder; */
        font-size: 18px;
    }
      .introdiusParagrafW{
          font-size: 15px;
      }
      .myIntrodus{
        box-shadow: 0px 0px 8px 0px #dddddd, 0px 0px 8px 0px #dddddd;
        text-align: center;
        height: 430px;
        border-radius: 120px 0px 120px 0px;
        /* background-image: url(../NimaTjk/Assets/Img/georgie-cobbs-bKjHgo_Lbpo-unsplash.jpg); */
        /* background-size: cover; */
        /* background-repeat: no-repeat; */
        direction: rtl;
      }
      /* .orgCart{
        box-shadow: 0px 0px 12px 0px #ebebeb;
        width: 20%;
        height: 60%;
        border-radius: 8px;
        background-color: white;
        direction: rtl;
      } */
      .myImgw{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        /* border: 1px solid black; */
        box-shadow: 0px 0px 12px 0px #ebebeb;
        margin-top: 10px;
      }
      .typeDiv{
          text-align: center;
      }
      .typeTestW{
        width: 10ch;
        animation: typing 1.8s steps(10 , end), cursor-blink 0.7s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        height: 100px;
        margin: 0 auto;
        font-weight: bolder;
        color: mediumblue;
        font-size: 25px;
        margin-top: 30px;
        height: 40px;
    }
    .typeTestW2{
        width: 22ch;
        animation:typing 4s steps(18 , end), cursor-blink 0.7s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        height: 100px;
        margin: 0 auto;
        font-weight: bolder;
        color: royalblue;
        font-size: 16px;
        position: relative;
        top: 20px;
        border-left: 2px solid;
        height: 30px;
    }
    @keyframes typing{
        from {
            width: 0;
        }
    }
    @keyframes cursor-blink{
        50%{
            border-color: transparent;
        }
    }
    /* .borderChange{
        border-right: 1px dashed darkgoldenrod;
        position: relative;
        bottom: 99px;
        height: 500px; */
    /* } */
    .windosBodyPic{
        background-image: url(../NimaTjk/Assets/Img/ben-kolde-bs2Ba7t69mM-unsplash.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .windosBodyPic2{
        background-image: none;
        background: rgb(255, 255, 255);
    }
    #firstDisplayMode1 , #myItem1{
        display: none !important;
    }
    #myItem2{
        display: block;
        margin: 0 auto;
        position: relative;
        top: 45%;
        /* left: 50%; */
        /* right: 50%; */
        /* bottom: 50%; */
        /* margin-top: 80%; */
    }
    .ldBar-label {
        position: absolute;
        top: 30px;
        color: black;
        right: 30px;
    }
    .windowsNavEdit{
        background: rgb(226, 226, 226);
        width: 21%;
        position: fixed;
        left: 80%;
        border-radius: 10px 10px 10px 750%;
        height: 210px;
    }
    .barWindos{
        color: darkblue !important;
        font-size: 22px;
    }
    .barEdit{
        text-align: left;
    }
    .navBtnWindows{
        text-align: center;
        position: relative;
        top: 15em;
    }
    .navBtnWindows button{
        background: none;
        border: none;
        padding: 15px;
    }
    .navBtnWindows i{
        font-size: 20px;
        color: darkblue;
    }
    #menu-toggle{
    width: 6%;
    height: 60px;
    position: relative;
    top: 12px;
    left: 3%;

    
    }
    #menu-toggle:focus{
        outline: none !important;
        box-shadow: none !important;
    }
    /*  */
    
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 250px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-x: hidden;
    /* background: rgb(190, 190, 190); */
    background-image: url(../NimaTjk/Assets/Img/augustine-wong-li0iC0rjvvg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
/* Sidebar Styles */
.iconClick {
    position: fixed !important;
    left: 10% !important;
    top: 5% !important;
    transition:  3s !important;
    animation: upDowns 3s infinite ;
}
@keyframes upDowns{
    50%{
        top: 1%;
    }
    100%{
        top: 30%;
    }
}
 .sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    padding-right: 17%;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
#sidebar-wrapper {
    top: 0px;
    z-index: 1000;
    position: fixed;
    left: 0%;
    width: 360px;
    height: 100%;
    margin-right: -250px;
    overflow-y: hidden;
    /* background: rgb(235, 235, 235); */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 0px;
}
.pjImg{
    width: 50px;
    height: 50px;
}

.myBiogrophy{
    line-height: 32px;
    margin-top: 40px;
    color: royalblue;
    font-size: 15px;
}
/* .projOneDiv{
    background-color: rgb(238, 238, 238);
    width: 30%;
    height: 20px;
    border-radius: 50%;
} */

.skillsWindos{
    font-size: 20px;
    font-weight: bolder;
    color: darkblue;
    width: 9ch;
        animation:typing 3s steps(10 , end), cursor-blink 0.7s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        height: 100px;
        /* margin: 0 auto; */
        font-weight: bolder;
        /* color: royalblue; */
        /* font-size: 16px; */
        position: relative;
        /* top: 20px; */
        /* border-left: 2px solid; */
        height: 25px;
}
.aftertow::before{
    content: '';
    position: absolute;
    width: 0.5%;
    height: 2px;
    background-color: royalblue;
    top: 6.8%;
    right: 35.5%;
}
.aftertow::after{
    content: '';
    position: absolute;
    width: 0.5%;
    height: 2px;
    background-color: royalblue;
    top: 6.8%;
    right: 42.2%;
}
.afterthree::before{
    content: '';
    position: absolute;
    width: 1.5%;
    height: 2px;
    background-color: royalblue;
    top: 6.1%;
    right: 41.75%;
}
.afterthree::after{
    content: '';
    position: absolute;
    width: 0.5%;
    height: 2px;
    background-color: royalblue;
    top: 5.4%;
    right: 42.21%;
}
.afterone::before{
    content: '';
    position: absolute;
    width: 1.5%;
    height: 2px;
    background-color: royalblue;
    top: 6.1%;
    right: 35%;
}
.afterone::after{
    content: '';
    position: absolute;
    width: 0.5%;
    height: 2px;
    background-color: royalblue;
    top: 5.4%;
    right: 35.5%;
}
.orgProjectDivWindows{
    background-color: white;
    color: black;
    margin-top: 30px;
    text-align: center;
    width: 95%;
    height: 70%;
    padding: 15px;
    box-shadow: 0px 0px 8px 0px #dddddd, 0px 0px 8px 0px #dddddd;
    transform: rotate( 
3deg);
    position: relative;
    top: 5%;
}
.circProj1{
    position: relative;
    background-color: darkblue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: 18%;
    left: 5%;
    box-shadow: 0px 0px 0px 4px #dddddd;
}
.circProj2{
    position: relative;
    background-color: darkblue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: 32%;
    right: 101%;
    box-shadow: 0px 0px 0px 4px #dddddd;
}
#projectNumber{
    font-size: 20px;
    color: darkblue;
    position: relative;
    bottom: 15%;
    font-family: 'Font Awesome 5 Pro';
}
.orgProjectDivWindows1{
    background-color: white;
    color: black;
    margin-top: 30px;
    text-align: center;
    width: 95%;
    height: 70%;
    padding: 15px;
    box-shadow: 0px 0px 8px 0px #dddddd, 0px 0px 8px 0px #dddddd;
}
#privProjectNumber{
    font-size: 20px;
    color: darkblue;
    position: relative;
    bottom: 15%;
    font-family: 'Font Awesome 5 Pro';
}
.circProj3{
    position: relative;
    background-color: darkblue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: 18%;
    left: 5%;
    box-shadow: 0px 0px 0px 4px #dddddd;
}
.circProj4{
    position: relative;
    background-color: darkblue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: 32%;
    right: 101%;
    box-shadow: 0px 0px 0px 4px #dddddd;
}
.orgProjectDivWindows2{
    cursor: url('../NimaTjk/Assets/Img/circle-and-cursor-arrow.png');
    background-color: white;
    color: black;
    margin-top: 30px;
    text-align: center;
    width: 95%;
    height: 70%;
    padding: 15px;
    box-shadow: 0px 0px 8px 0px #dddddd, 0px 0px 8px 0px #dddddd;
    transform: rotate(
-3deg);
    position: relative;
    top: 5%;
}
#miniProjectNumber{
    font-size: 20px;
    color: darkblue;
    position: relative;
    bottom: 15%;
    font-family: 'Font Awesome 5 Pro';
}
.circProj5{
    position: relative;
    background-color: darkblue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: 18%;
    left: 5%;
    box-shadow: 0px 0px 0px 4px #dddddd;
}
.circProj6{
    position: relative;
    background-color: darkblue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: 32%;
    right: 101%;
    box-shadow: 0px 0px 0px 4px #dddddd;
}

.projDivNav2{
    position: relative;
    display: inline-block;
    right: 49%;
    bottom: 470px;
    width: 100%;
}
/* #windowsDisplayNone{
    display: none;
} */
.porojOneWindows1 img{
    width: 140px;
    height: 140px;
}
.porojOneWindows img{
    width: 140px;
    height: 140px;
}
#windosProjeDis{
    display: none;
}
.boxshdiw{
    box-shadow: 0px 0px 5px 0px rgb(214, 214, 214);
    padding: 30px;
    border-radius: 5px;
}
.boxshdiw a{
    text-decoration: none !important;
    color: black;
}
.boxshdiw a:hover{
    text-decoration: none !important;
    color: black;
    
}
.boxshdiw:hover{
    transform: scale(1.03);
    transition: 0.5s;
}
.projeTitleWindows{
    color: indigo;
    text-align: center;
}
/* .myIntrodus p{
    font-family: cursive;
}
.myIntrodus h4{
    font-family: cursive;
} */
}